/*
.tag_product{
    color: red;
}

.wrapper-card{
    color: green;
    font-size: 50px;
}

.wrapper-card{
    color: yellow;
}
*/
/*1.Selector Universal. */
/* 0.0.0.0*/
*{
    background: red;
}

/*2.Selector por elemento. */
/* 0.0.0.1*/
p{
    background: yellow;
}

/*3.Selector por clase. */
/* 0.0.1.0*/
.product_descripction{
    background: pink;
}

/*4.Selector por id. */
/* 0.1.0.0*/
#unique-description-1{
    background: skyblue;
}


/* Regla con especificidad 0.1.0.0 */
#unique-product-2{
    background: white;
}

li{
    background: violet !important;
}

.wrapper-card p{
    background:black;
}